<a href="https://colab.research.google.com/github/richardcsuwandi/python-workshop/blob/main/demo_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding 101: Getting Started with Python

By: [Richard Cornelius Suwandi](https://richardcsuwandi.github.io/)


<img src="https://logicoretech.com/wp-content/uploads/2022/05/Python-Symbol.png" width="400" height="250" />

## Apa itu Python?
> Python adalah **bahasa pemrograman serbaguna** yang bisa dijalankan pada hampir semua sistem, dan bisa digunakan untuk berbagai aplikasi di banyak bidang, mulai dari *web development* hingga *machine learning*.

## Mengapa Python?
Berikut adalah 3 alasan mengapa Python cocok untuk dipelajari oleh pemula:
1. Python adalah salah satu bahasa pemrograman yang relatif **mudah untuk dipelajari**
2. Python dilengkapi dengan **banyak *libraries* dan *tools***
3. Python didukung oleh **komunitas yang besar dan aktif**

## Contoh Kegunaan Python
Berikut adalah contoh kegunaan Python dalam berbagai bidang:
- [Analisis & Visualisasi Data](https://github.com/richardcsuwandi/airline-sentiment)

<img src="https://github.com/richardcsuwandi/airline-sentiment/raw/master/demos/demo2.gif?raw=true" width=800 height=400/>

<img src="https://github.com/richardcsuwandi/airline-sentiment/raw/master/demos/demo3.gif?raw=true" width=800 height=400/>

- [Membuat Aplikasi](https://github.com/richardcsuwandi/img-enhancer-and-detector)

<img src="https://github.com/richardcsuwandi/img-enhancer-and-detector/raw/master/demo1.gif?raw=truee" width=800 height=400/>

<img src="https://github.com/richardcsuwandi/img-enhancer-and-detector/raw/master/demo2.gif?raw=true" width=800 height=400/>

- [Machine Learning](https://github.com/richardcsuwandi/dl-projects)

<img src="https://richardcsuwandi.github.io/project/dl-projects/featured_hudc4d873bb4b5e8414a7a9f16bf23b9ea_59585_550x0_resize_q90_lanczos_3.png" width=600 height=600/>

*More projects available [here](https://github.com/richardcsuwandi)*

## Data Types
Berikut adalah jenis-jenis *data type* dalam Python,
- String (`str`): Menyatakan karakter atau kalimat dengan diapit tanda `"` atau `'`
- Integer (`int`): Menyatakan bilangan bulat
- Float (`float`): Menyatakan bilangan desimal
- Boolean (`bool`): Menyatakan benar (*True*) atau salah (*False*)

In [ ]:
# String
type("Hello")

str

In [ ]:
# Integer
type(123)

int

In [ ]:
# Float
type(1.23)

float

In [ ]:
# Boolean
type(True)

bool

In [ ]:
# None
type(None)

NoneType

Kita dapat menggunakan *constructor functions* untuk mengubah tipe data (*casting*):

In [ ]:
# str -> int
type(int("123"))

int

In [ ]:
# float -> str
type(str(3.14))

str

In [ ]:
# bool -> int
type(int(True))

int

Selain *data types* diatas, ada beberapa tipe data lain yang lebih kompleks untuk menampung sekumpulan data,
- List (`list`): dapat diisi lebih dari satu tipe data, berurutan, dapat diubah (*mutable*), mengijinkan adanya data duplikat

In [ ]:
# List
myList = ["Python", 123, True, 3.45]

In [ ]:
# List bersifat mutable
myList[1] = 3.45
myList

['Python', 3.45, True, 3.45]

- Tuple (`tuple`): dapat diisi lebih dari satu tipe data, berurutan, tidak dapat diubah (*immutable*), mengijinkan adanya data duplikat

In [ ]:
# Tuple
myTuple = ("Python", 123, True, 3.45)

In [ ]:
# Tuple bersifat immutable
# myTuple[0] = "R"
myTuple

('Python', 123, True, 3.45)

- Set (`set`): dapat diisi lebih dari satu tipe data, tidak berurutan, tidak dapat diubah (*immutable*), tidak mengijinkan adanya data duplikat

In [ ]:
# Set
mySet = {"Python", 123, "Python", 3.45}
mySet

{123, 3.45, 'Python'}

- Dictionary (`dict`): memetakan sebuah nilai ke dalam nilai lainnya dengan menggunakan "kunci"

In [ ]:
# Dictionary
myDict = {"Nama": "Doni", "Usia": 27, "Pekerjaan": "Data Scientist", "Hobi": ["Olahraga", "Nonton", "Traveling"]}
myDict

{'Nama': 'Doni',
 'Usia': 27,
 'Pekerjaan': 'Data Scientist',
 'Hobi': ['Olahraga', 'Nonton', 'Traveling']}

In [ ]:
# Mengakses nilai pada dictionary
myDict["Hobi"]

['Olahraga', 'Nonton', 'Traveling']

## Variables
Variabel dapat kita gunakan untuk menyimpan nilai dari suatu tipe data. Untuk mulai membuat sebuah variabel, kita cukup menuliskan nama variabel lalu menambahkan tanda `=` diikuti dengan nilai yang ingin disimpan:

In [ ]:
# Membuat variabel
a = 1

Nama variabel di Python bersifat *case-sensitive*, artinya huruf kecil dan huruf besar akan dibedakan:

In [ ]:
# Berikut adalah 2 variabel berbeda
a = 1
A = "1"

Variabel dalam Python bersifat yang dinamis, artinya variabel tidak perlu didekralasikan dengan tipe data tertentu dan dapat diubah saat program dijalankan:

In [ ]:
# Variabel bersifat dinamis
a = 1
a = "Hello"
a

'Hello'

## Operators
Dalam Python, ada berbagai jenis operator yang dapat kita gunakan:

### Operator Aritmatika
- Penjumlahan (`+`)
- Pengurangan (`-`)
- Perkalian (`*`)
- Pembagian (`/`)
- Modulus (`%`)
- Pemangkatan (`**`)
- Pembagian Bulat (`//`)

In [ ]:
# Contoh operator aritmatika:
x = 10
y = 3
x + y

13

### Operator Perbandingan/Relasi

- Lebih besar (`>`)
- Lebih kecil (`<`)
- Sama dengan (`==`)
- Tidak sama dengan (`!=`)
- Lebih besar sama dengan (`>=`)
- Lebih kecil sama dengan (`<=`)

In [ ]:
# Contoh operator perbandingan/relasi:
x = 4
y = 2
x > y

True

### Operator Logika
- `and`: Mengembalikan `True` jika dua statement sama-sama benar
- `or`: Mengembalikan `True` jika salah satu statement bernilai benar
- `not`: Menegasikan hasil (`True` -> `False` dan sebalikanya)

In [ ]:
# Contoh operator logika:
x = True
y = False
x and y

False

### Latihan
Buatlah sebuah dictionary untuk menyimpan informasi berikut:
- Harga apel per kg adalah Rp. 32.500
- Harga melon per kg adalah Rp. 9.750
- Harga nanas per kg adalah Rp. 5.800
- Harga mangga per kg adalah Rp. 1.100

Jika Doni membeli 1 kg apel, 1 kg melon, 2 kg nanas, dan 3 kg mangga, maka berapakah total uang yang harus ia bayar?

In [ ]:
# Jawaban:
harga = {"Apel": 32500, "Melon": 9750, "Nanas": 5800, "Mangga": 1100}
harga["Apel"] + harga["Melon"] + 2*harga["Nanas"]+ 3*harga["Mangga"]

57150

## Control Flow
Pada umumnya, kita dapat menggunakan serangkaian *keyword* `if` untuk mengatur jalannya program:

In [ ]:
# Contoh pengunaan if
x = -1
if x < 0:
  print("x adalah bilangan negatif")

x adalah bilangan negatif

Untuk melakukan percabangan, kita dapat menambahkan *keyword* `elif`:

In [ ]:
# Contoh pengunaan elif
x = 1
if x < 0:
  print("x adalah bilangan negatif")
elif x > 0:
  print("x adalah bilangan positif")

x adalah bilangan positif

Selain itu, kita dapat menggunakan *keyword* `else` bila kondisi sebelumnya tidak ada yang terpenuhi:

In [ ]:
# Contoh pengunaan else
x = 0
if x < 0:
  print("x adalah bilangan negatif")
elif x > 0:
  print("x adalah bilangan positif")
else:
  print("x bernilai nol")

x bernilai nol

Kita dapat menggabungkan beberapa kondisi dengan operator logika (`and`, `or`, `not`):

In [ ]:
# Menggabungkan beberapa kondisi
temp = 20
if temp <= 15:
  print("temp is low")
elif temp > 15 and temp <= 30:
  print("temp is medium")
else:
  print("temp is high")

temp is medium

#### Latihan
- Buatlah sebuah program untuk menguji apakah `num` merupakan bilangan ganjil atau bilangan genap
- Gunakan program yang telah dibuat untuk memeriksa `num = 72`
- Gunakan program yang telah dibuat untuk memeriksa `num = 63`

In [ ]:
# Jawaban:
num = 63
if num % 2 == 0:
  print("num adalah bilangan genap")
else:
  print("num adalah bilangan ganjil")

num adalah bilangan ganjil

## Loops

### For Loop
`for` dapat digunakan untuk melakukan pengulangan sebanyak nilai tertentu. Syntax pada umumnya adalah sebagai berikut:

```
for i in range(start, stop, step):
  ...
```
- `start`: nilai awal (secara default 0)
- `stop`: nilai akhir (ekslusif)
- `step`: langkah (opsional)

In [ ]:
# Contoh pengunaan for
n = 10
for i in range(n):
  print(i)

0
1
2
3
4
5
6
7
8
9

Note: `range(n)` akan menghasilkan angka mulai dari $0$ hingga $n - 1$.

Kita juga dapat menggunakan `for` loop untuk melakukan iterasi terhadap tipe data *sequence* seperti *string* (`str`):

In [ ]:
# Contoh for pada str
for char in "python":
  print(char)

p
y
t
h
o
n

#### Latihan
(Fizzbuzz) Write a program that prints the numbers from 1 to 50. But for multiples of 3 print "Fizz" instead of the number and for the multiples of 5 print "Buzz". For numbers which are multiples of both 3 and 5 print "FizzBuzz":

In [ ]:
# Jawaban:
for i in range(1, 51):
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 3 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

### While Loop
`while` akan melakukan pengulangan selama kondisi masih `True`. Pada umumnya, syntax yang digunakan adalah sebagai berikut:

```
while <kondisi>:
  ...
```

In [ ]:
# Contoh pengunaan while
i = 0
while i < 10:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

Note: Saat menggunakan `while`, kita wajib memperbaharui variabel pada tiap pengulangan agar program dapat berhenti

Kita dapat menggunakan *keyword* `break` untuk memberhentikan pengulangan dalam `while` loop:

In [ ]:
# Contoh pengunaan break
i = 10
while i > 0:
  print(i)
  if i == 3:
    break
  i = i - 1

10
9
8
7
6
5
4
3

#### Latihan
- Buatlah sebuah program untuk menghitung faktorial dari sebuah bilangan `n`
- Gunakan `n = 5` untuk memeriksa program yang telah dibuat  
- Gunakan `n = 8` untuk memeriksa program yang telah dibuat  

*Hint: Faktorial dari sebuah bilangan $n$ dapat dihitung dengan $n! = n(n-1) \ldots 1$*

In [ ]:
# Jawaban:
n = 5
fact = 1
while n > 0:
  fact = fact*n
  n = n - 1

fact

120

### Perbedaan For dan While
- `for` biasa digunakan saat jumlah pengulangan sudah diketahui/ditentukan
- `while` digunakan saat jumlah pengulangan belum diketahui/ditentukan

## Mini Project
![](https://play-lh.googleusercontent.com/Z5BA3DYVKalnbCW8CGlIM3bN699i6QwRs5oE5kr_1-OYApm2cLPSlOP6mbdUJunXtw=w240-h480-rw)

Buatlah sebuah kalkulator sederhana untuk dua bilangan yang mendukung 4 jenis operasi: penjumlahan (`+`), pengurangan (`-`), perkalian (`*`), dan pembagian (`/`).

*Hint: Gunakan `input()` untuk menerima inputan dari user*

In [ ]:
# Jawaban:
x = float(input("Silahkan masukkan bilangan pertama: "))
y = float(input("Silahkan masukkan bilangan kedua: "))
op = input("Pilih jenis operasi (+, -, *, /): ")
if op == "+":
  hasil = x + y
elif op == "-":
  hasil = x - y
elif op == "*":
  hasil = x * y
elif op == "/":
  hasil = x / y
else:
  print("Tidak valid")

hasil

Silahkan masukkan bilangan pertama: 5
Silahkan masukkan bilangan kedua: 10
Pilih jenis operasi (+, -, *, /): *

50.0

## Thanks for joining!
Feel free to connect with me:

[<img align="left" alt="richardcsuwandi.github.io" width="30px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg"/>][Website]

[<img align="left" alt="linkedin.com/richardcsuwandi" width="30px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />][LinkedIn]

[<img align="left" alt="https://www.github.com/richardcsuwandi" width="30px" src="http://simpleicons.org/icons/github.svg" />][GitHub]

[Website]: https://richardcsuwandi.github.io
[LinkedIn]: https://linkedin.com/in/richardcsuwandi
[GitHub]: https://github.com/richardcsuwandi